// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #120B3C !default;
$gray-200: #120B3C !default;
$gray-300: #120B3C !default;
$gray-400: #120B3C !default;
$gray-500: #120B3C !default;
$gray-600: #120B3C !default;
$gray-700: #120B3C !default;
$gray-800: #120B3C !default;
$gray-900: #120B3C !default;
$black: #000 !default;

$primary: #120B3C !default;
